<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>acerca de mi</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header>
        <h1>ACERCA DE MI</h1>
        <br>
        <br>
        
        
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="#acerca_de_mi"></a></li>
        <li><a href="projects.html">Proyectos</a></li>
        <li><a href="contacts.html">Contactos</a></li>
        <li><a href="colabs.html">Colaboraciones</a></li>
        
    </header>
    <section id="datos personales">
        <h2>datos personales</h2>
        <br>
        <br>
        <p class="contenido">Me llamo Agustin Ezequiel Papagno y tengo 19. Naci en Puerto rico y desde el 2007 vivo en Argentina. <br>me gusta todo lo relacionado a la tecnologia y la musica</p>
        <br>
        <img class="imagenes_medianas" src="../img/fotomia.jpeg" alt="">
    </section>
    <br>
    <br>
    <section class="estudios">
        <h2>Estudios</h2>
        <br>
        <p class="contenido">estoy estudiando una tecnicatura superior en porgramacion en el instituto superior TECLAB. A su vez me encuentro estudiando la carrera frontend de coderhouse</p>
        <br>
        <img class="imagenes_medianas" src="../img/teclab.jpeg" alt="">
    </section>
    <br>
    <br>
    <br>
    <footer>
        <p>2025, Agustin Ezequiel Papagno</p>
    </footer>
</body>
</html>