<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>colaboraciones</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <h1>Colaboraciones</h1>
    <br>
    <br> 

    <li><a href="../index.html">Inicio</a></li>
    <li><a href="about.html">Acerca de mi</a></li>
    <li><a href="contacts.html">Contactos</a></li>
    <li><a href="projects.html">Proyectos</a></li>
    <li><a href="#colabs">Colaboraciones</a></li>
    <br>
    <br>

    <section>
        <p class="contenido">Actualmente me encuentro formandome como desarrollador web, este sera el sector donde mostrare las personas o empresas con las cuales trabaje.</p>
        <br>
        <br>
        <img class="imagenes_medianas" src="../img/work_in_progress.jpg" alt="">
    </section>

    <footer>
        <p>Agustin Papagno,2025</p>
    </footer>
    
</body>
</html>