<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contactos</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header>
        <h1>CONTACTOS</h1>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="about.html">Acerca de mi</a></li>
        <li><a href="projects.html">Proyectos</a></li>
        <li><a href="#contacts"></a></li>
        <li><a href="colabs.html">Colaboraciones</a></li>
    </header>
    <br>
    <br>
    <div class="container">

        <h2>Formas de Contactarme</h2>
        <br>
        <br>
        <br>
        <br>

        <div class="informacion-de-contactos">
            <p><strong>Correo Electrónico:</strong> agustinpapagnost@gmail.com</p>
            <p><strong>Redes Sociales:</strong> <a href="https://www.instagram.com/agus.papagno?igsh=MWE1ZzB1dGU4MTV4eg%3D%3D&utm_source=qr" target="_blank">Instagram</a></p>
            <p><strong>Ubicación:</strong> Buenos Aires, Argentina</p>
            <p><strong>Telefono</strong>+54 9 11 4026-8452</p>
            <br>
            <br>
            <br>
            <br>
            <img class="imagenes_medianas" src="../img/contacts.jpg" alt="">


        </div>
        <br>
        <br>
        <br>
        <br>
        <footer>
            <p>2025, Agustin Ezequiel Papagno</p>
        </footer>
</body>
</html>