<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <h1>PROYECTOS</h1>
    <br>
    <br>
    <br>
    <li><a href="../index.html">Inicio</a></li>
    <li><a href="about.html">Acerca de mi</a></li>
    <li><a href="#projects"></a></li>
    <li><a href="contacts.html">Contactos</a></li>
    <li><a href="colabs.html">Colaboraciones</a></li>
    <section>
        <br>
        <br>
        <br>
        <h2 class="subtitulos">Proyecto Greensteps</h2>
        <br>
        
        
        <p class="proyectos">en este proyecto estoy trabajando en un sitio web de una organizacion que se encarga de los problemas ambientales que hay alrededor del mundo. <br>la idea de este prpyecto es empezar a codificar en el HTML y CSS.</p>
        <br>
        <img class="imagenes_pequeñas" src="../img/greensteps.jpeg" alt="">
    </section>
    <br>
    <br>
    <br>
    <footer>
        <p>2025, Agustin Ezequiel Papagno</p>
    </footer>
</body>
</html>